<div class="fondo">

  
<div class="container-fluid navbarColor">
  <div class="container">
    <div class="FontNavBar">
      <app-navbar></app-navbar>
    </div>
</div>
</div>


<div class="container-fluid subNavbarColor">
  <div class="container">
      <div class="FontNavBar marginBottom">
        <app-sub-navbar></app-sub-navbar>
      </div>
      <div class="margin">
          <app-dashboard></app-dashboard>
      </div>
    </div>      
</div>





</div>
