.navbarColor {
    background-color: #638797;
    height: 60px;
}

.FontNavBar {
    color: white;
}

.subNavbarColor {
    background-color: #99B1BB;
    height: 40px;
}

.marginBottom {
    margin-bottom: 25px;
}


.fondo {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #7fb800;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 100%;
    background-attachment: fixed;
}