<div class="col-12">
    <div class="card text-center col-12 pq-background">
        <div class="card-body padding-body-card">
            <img src="assets/imgs/ponquesite-logo-circle.png">
            <h2 class="card-title">Bienvenido a <strong class="pq-primary">Ponquesite</strong></h2>
            <form class="form text-center">
                <div class="col-12 row">
                    <div class="form-group col-12">
                        <input type="text" class="form-control  text-center pq-text-form" placeholder="Nombre de Usuario*">
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="form-group col-12">
                        <input type="text" class="form-control  text-center pq-text-form" placeholder="Nombre*">
                    </div>
                </div>
                <div class=" col-12 row">
                    <div class=" form-group col-12">
                        <input type="text" class="form-control  text-center pq-text-form" placeholder="Apellidos">
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="form-group  col-12">
                        <input type="email" class="form-control  text-center pq-text-form" placeholder="Correo electrónico*">
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="form-group col-6">
                        <input type="password" class="form-control  text-center pq-text-form" placeholder="Contraseña*">
                    </div>
                    <div class="form-group col-6">
                        <input type="password*" class="form-control  text-center pq-text-form" placeholder="Repetir contraseña*">
                    </div>
                </div>

                <div class="col-12 text-left">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="Information">
                        <label class="form-check-label" for="information" class="pq-primary">Quiero recibir noticias e información relacionada
                          con Ponquesite en mi correo electrónico
                        </label>

                    </div>

                </div>
                <div class="col-12 row">
                    <div class="form-group col-12">
                        <button type="button" class="btn pq-btn-primary btn-lg btn-block">Regístrate</button>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-12">
                        <a [routerLink]="['/begin/login']" class="pq-small-link">¿Ya tiene cuenta? Inicie Sesión</a>
                    </div>
                    <div class="col-12 text-left">
                        <a href="#" class="pq-small-link">Al registrarte aceptas nuestras condiciones de uso y Política de privacidad</a> <br>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>