.begin-backGround {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-image: url(../../../assets/imgs/muffin-background.png);
    /*background-color: #628797;*/
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 100%;
    background-attachment: fixed;
}