<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="assets/imgs/logo.jpg">-->
<div class="begin-backGround row">

    <router-outlet></router-outlet>

</div>



<!--</div>-->