<div class="jumbotron">
    <p class="text-center"> 
      INFORMACION DEL DASHBOARD
    </p>
    <p class="text-justify"> 

    <br><br>
    PRUEBA DE TEXTO!!

    <br><br>

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Incidunt quam voluptates ipsam tempora excepturi fuga 
    exercitationem illum vero eius pariatur. Nisi, facere. 
    Delectus voluptatibus voluptas dolorem natus ipsa rerum 
    repellat.
    <br><br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Incidunt quam voluptates ipsam tempora excepturi fuga 
    exercitationem illum vero eius pariatur. Nisi, facere. 
    Delectus voluptatibus voluptas dolorem natus ipsa rerum 
    repellat.
    <br><br>

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Incidunt quam voluptates ipsam tempora excepturi fuga 
    exercitationem illum vero eius pariatur. Nisi, facere. 
    Delectus voluptatibus voluptas dolorem natus ipsa rerum 
    repellat.
    <br><br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Incidunt quam voluptates ipsam tempora excepturi fuga 
    exercitationem illum vero eius pariatur. Nisi, facere. 
    Delectus voluptatibus voluptas dolorem natus ipsa rerum 
    repellat.

    <br><br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Incidunt quam voluptates ipsam tempora excepturi fuga 
    exercitationem illum vero eius pariatur. Nisi, facere. 
    Delectus voluptatibus voluptas dolorem natus ipsa rerum 
    repellat.

    <br><br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Incidunt quam voluptates ipsam tempora excepturi fuga 
    exercitationem illum vero eius pariatur. Nisi, facere. 
    Delectus voluptatibus voluptas dolorem natus ipsa rerum 
    repellat.


  </p>
</div>