<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Option</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Option</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Option</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Option</a>
    </li>
    
  </ul>