<div class="col-12">
    <div class="card text-center container pq-background">
        <div class="card-body">
            <img src="assets/imgs/ponquesite-logo-circle.png">
            <h2 class="card-title">Bienvenido a <strong class="pq-primary">Ponquesite</strong></h2>
            <h5 class="pq-secondary">Accede ya a tu intranet</h5>
            <form class="form text-center">
                <div class="form-group row">
                    <div class="col-12">
                        <input type="email" class="form-control  text-center pq-text-form" placeholder="Usuario">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input type="password" class="form-control  text-center pq-text-form" placeholder="Contraseña">
                        <a href="#" class="pq-small-link">¿Has olvidado la contraseña?</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <button type="button" [routerLink]="['/skeleton']" class="btn pq-btn-primary btn-lg btn-block">Login</button>
                        <button type="button" [routerLink]="['/begin/register']" class="btn pq-btn-secondary btn-lg btn-block">Regístrate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>