    <nav class="navbar">
        <a class="navbar-brand">
            <img class="img-fluid fotoLogo" src="../../../assets/imgs/Ponquesite-Logo.png" alt="Logo PonqueSite">
            <span class="font-weight-bold">Ponquesite</span>
        </a>

       <div class="row">
          <div class="text-right marginPerfilNombre">
              <span class="font-weight-bold">Lord. Ponquesito Chuchu </span><br><span>Developer</span>
           </div>
  
          <div class="dropdown show " >
             
              <a href="#"  id="dropdownMenuLink" 
                 data-toggle="dropdown" aria-haspopup="true" 
                 aria-expanded="false">
                  <img class="img-fluid fotoPerfil" 
                       src="../../../assets/imgs/perfil.jpg" 
                       alt="Foto Perfil">
              </a>
            
              <div class="dropdown-menu fondoDropPerfil" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item coverPerfil" href="#">Perfil</a>
                <a class="dropdown-item coverPerfil" href="#">Parte Actividad</a>
              </div>
            </div>
       </div>

        

      </nav>

