.fotoLogo{
    width: 40px;
}

.fotoPerfil{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.fondoDropPerfil{
    background: #F3F3F3;
}

.marginPerfilNombre{
    margin-right: 10px;
}

.coverPerfil:hover{
    background: rgb(150, 150, 150);
    color: white;
    font-weight: bold;
}
