/* You can add global styles to this file, and also import other style files */


/*

THIS CLASS WE HAVE PROBLEM BECAUSE THIS DISABLED SCROLL IN ALL
PROYECT*/

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.card-center {
    margin: 5% 50% auto 50%;
}

.pq-primary {
    color: #638797;
}

.pq-secondary {
    color: #628797;
}

.pq-btn-primary {
    background: #638797;
    color: white;
}

.pq-btn-secondary {
    background: #818181;
    color: white;
}

.pq-background {
    background: #f7f8fa;
}

.pq-text-form {
    border: 1px solid;
    font-size: 1.3em;
    color: #9fb3bc;
}

.pq-text-form::placeholder {
    color: #9fb3bc;
}

.pq-text-form:-ms-input-placeholder {
    color: #9fb3bc;
}

.pq-text-form::-ms-input-placeholder {
    color: #9fb3bc;
}

.pq-small-link {
    color: #628797;
    font-size: 0.7em;
    float: right;
}